# If you run backend without docker-compose, set:
# DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=postgresql+psycopg2://ursh:ursh@localhost:5432/ursh

# Security
JWT_SECRET_KEY=CHANGE_ME_SUPER_SECRET
